.banner {
    opacity: 0;
    text-align: center;
    height: 200px;
    background: url(../images/backgrounds/background1.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    margin-top: -10px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.banner h2 {
    font-size: 40px;
    padding-top: 50px;
}

.main-content {
    margin-bottom: 60px;
}

.about-content {
    background: white;
    border: 1.5px solid #e6e6e6;
    border-radius: 4px;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    opacity: 0;
    margin-bottom: 20px;
}

.about-content h2 {
    line-height: 50px;
}

.about-content h2 span {
    font-family: 'Pacifico', cursive;
    color: #e60000;
    margin-right: 5px;
    font-size: 40px;
}

.er-diagram {
    width: 100%;
    margin-top: 15px;
}

@media only screen and (min-width: 768px) {
    .banner {
	margin-top: 30px;
	height: 300px;
    }

    .banner h2 {
	padding-top: 100px;
    }
}