.post {
    padding-bottom: 10px;
}

.post-author-name {
    margin-top: 30px;
}

.post-content {
    margin-bottom: 40px;
}

.post-tags {
    line-height: 30px;
}

.post-likes {
    border-top: 1.5px solid #cccccc;
    padding-top: 25px;
    padding-bottom: 10px;
}

.post-comments button.search {
    padding-left: 16px;
}

.post-comments h4 {
    text-align: center;
    margin-top: 35px;
}

.comment {
    border: 1.5px solid #e6e6e6;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px;
}

.comment a:nth-of-type(2) {
    color: black;
}

.comment_profile_pic {
    width: 50px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.comment_name {
    margin-top: 5px;
    font-weight: bold;
}

.comment_date {
    color: #999999;
    font-size: 12px;
}

.comment_text {
    clear: both;
}

.post-actions a {
    float: left;
    margin-right: 4px;
}

@media only screen and (min-width: 768px) {
    .post {
	padding-bottom: 30px;
    }

    .post-author-name {
	margin-top: 27.5px;
    }

    .post-comments button.search {
	padding-left: 20px;
    }
}