.post {
    padding-bottom: 15px;
}

.post:nth-child(1) {
    padding-bottom: 20px;
}

.post h2 i {
    margin-right: 15px; 
}

.search-nav {
    margin-top: 25px;
    margin-bottom: 10px;
}

.search-nav div, .search-nav a {
    display: inline;
}

.search-nav div {
    margin-right: 5px;
    font-weight: bold;
}

.person-search h3 {
    padding-top: 14px;
}

.post h4 {
    margin-top: 20px;
}

.post-author-pic {
    margin-top: 5px;
}

.post-author-name {
    margin-top: 18px;
}